<html>
<head>
    <title>Robocup 2016</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/404.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300, 700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="title-block">
        <div class="container">
            <div class="menu">
                <a class="menu-item" href="/home">Home</a>
            </div>
            <div class="title">error 404</div>
            <div class="extra">Page not found</div>
        </div>
    </div>
    <div id="content-block">
        <div class="container">
            <div class="content">
                <p>The page you requested doesn't exist on this server.</p>
                <br>
                <a href="/">&larr; back to home</a>
            </div>
        </div>
    </div>
    <div id="footer-block">
        <div class="container">
            Copyright (c) 2016 Robotics club, Central Campus, Pulchowk. All Rights Reserved.{{test }}
        </div>
    </div>
</body>
</html>
